Repository p-huisman/iframe-poc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint --fix

added demo post endpoint
  demo/index.html
  scripts/api/index.js
  scripts/api/token.json
  scripts/data-server.js
  src/p-data-channel.ts
Due: prettier --write, npx eslint --fix

node version 20.9.0
  package-lock.json
Due: none

switched private and public keys
  scripts/api/index.js
  scripts/data-server.js
Due: none

improvments and error handling added
  demo/index.html
  scripts/data-server.js
  src/p-data-channel.ts
Due: prettier --write, npx eslint --fix

initial service worker version
  demo/index.html
  package-lock.json
  package.json
  scripts/build.js
  scripts/data-server.js
  src/data-channel-service-worker.ts
  src/fetch-queue.ts
  src/p-data-channel.spec.ts
  src/p-data-channel.ts
  tsconfig.json
Due: prettier --write, npx eslint --fix

fetch status added
  demo/index.html
  src/data-channel-service-worker.ts
  src/p-data-channel.ts
Due: prettier --write, npx eslint --fix

added flow to read me
  readme.md
Due: prettier --write

update flow diagram
  readme.md
Due: prettier --write

renamed component
  demo/index.html
  package.json
  scripts/build.js
  src/iframe-fetch-service-worker.ts
  src/iframe-fetch.spec.ts
  src/iframe-fetch.ts
  src/p-data-channel.spec.ts
Due: prettier --write, npx eslint --fix

updated readme
  readme.md
Due: prettier --write

removed unused files
  applicationinfo.json
  deployment/azure-pipelines.yaml
  deployment/evidence.md
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,md,html,css}
  npx eslint --fix: any of: **/*.{ts,tsx}
